@import "compass/css3";
@import "compass/utilities";

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  background-color: #086F1E;
}


@mixin blue-grad-background() {
  background: #3481ed; /* Old browsers */
  background: -moz-linear-gradient(top,  #3481ed 0%, #023a72 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3481ed), color-stop(100%,#023a72)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3481ed 0%,#023a72 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3481ed 0%,#023a72 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3481ed 0%,#023a72 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3481ed 0%,#023a72 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3481ed', endColorstr='#023a72',GradientType=0 ); /* IE6-9 */
}


