
.chat-box {

    header{
      height: 40px;
      padding: 9px 15px;
      background-color: #969696;

      label{
        color: #ffffff;
      }

      i{
        float: right;
        color: rgba(34, 34, 34, 0.66);
        font-size: 20px;
        padding-left: 5px;
        line-height: 22px;
      }

    }

}