
.chat-box {

    header{
      height: 40px;
      background: #2D3E4F;

      label{
        color: #ffffff;
        padding-left: 10px;
        padding-top: 9px;
      }

      i{
        float: right;
        color: rgba(255, 255, 255, 0.36);
        font-size: 25px;
        padding-right: 7px;
        padding-top: 10px;
        line-height: 22px;
      }

    }

}