.chat-box{

  ul{
    height: 240px;
    margin: 0;
    overflow: scroll;

    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
  }

  p{
    display: inline-block;
    background-color: #e0e0e0;
    padding: 10px 7px;
    margin: 0;
    min-width: 73px;
  }



  .msg-me{
    margin: 10px;
    margin-bottom: 40px;
    text-align: right;

    .triangle{
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 25px 0px 0 25px;
      border-color: #e0e0e0 transparent transparent transparent;
      float: right;
    }

    .user-name{
      float: right;
      background: none;
      margin: 8px;
      margin-top: 10px;
    }

  }

  .msg-you{
    margin: 10px;

    .triangle{
      display: inline-block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 25px 25px 0 0px;
      border-color: #e0e0e0 transparent transparent transparent;
    }

    .user-name{
      display: inline-block;
      background: none;
      margin: 5px;
    }
  }



}