
.chat-box {

    header{
      height: 40px;
      background: #2D3E4F;

      label{
        color: #ffffff;
        padding-left: 8px;
        padding-top: 9px;
        text-overflow: ellipsis;
        width: 310px;
        white-space: nowrap;
        overflow: hidden;
      }

      i{
        float: right;
        color: rgba(#fff, 0.2);
        font-size: 25px;
        padding-right: 7px;
        padding-top: 10px;
        line-height: 22px;

        &:hover{
          color: rgba(#fff, 0.5);
        }
      }

    }

}