.chat-box{

  .repeat-enter-setup{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -ms-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .repeat-enter-setup {
    opacity:0;
  }
  .repeat-enter-setup.repeat-enter-start {
    opacity:1;
  }

  .date-time{
    font-weight: lighter;
  }

  .chat-message{
    clear: both;
    padding: 5px;
  }

  .ref{
    @include border-radius(10px);
    top: 1px;
    left: 2px;
    right: 2px;
    position: absolute;
    background: rgba(255,255,255,.2);
    height: 14px;
  }

  ul{
    height: 300px;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;

    background-color: $clouds;
    border-bottom: 1px solid #cdcdcd;

      -webkit-transition:all linear 0.5s;
      -moz-transition:all linear 0.5s;
      -ms-transition:all linear 0.5s;
      -o-transition:all linear 0.5s;
      transition:all linear 0.5s;
  }

  .msg-wrap{
    position: relative;
    display: inline-block;
    @include border-radius(8px);

    margin: 0;
    min-width: 100px;
    max-width: 340px;
  }

  p{
    padding: 6px 10px;
    margin: 0;
    position: relative;
    color: #ffffff;
    font-family: Lato, helvetica;
    font-size: 15px;
    word-wrap: break-word;
    font-weight: lighter;

  }



  .msg-me{


    float: right;
    clear: both;

    &.received{
      p{
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }

      .msg-wrap{
        background-color: $turquoise;
      }

      .triangle{
        border-color: $turquoise transparent transparent transparent;
      }
    }



    .msg-wrap{
      //background-color: $turquoise;
      background-color: rgba($silver,.2);
    }

    p{
      color: rgba($wet-asphalt,.5);
    }



    .triangle{
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 15px 0px 0 15px;
      border-color: rgba($silver,.2) transparent transparent transparent;
      float: right;
    }

    .username{
      float: right;
      background: none;
      margin: 10px;
      margin-left: 15px;
      color: $wet-asphalt;
    }

  }

  .msg-you{

    p{
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    .msg-wrap{
      background-color: $orange;
    }

    .triangle{
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: $orange transparent transparent transparent;
    }

    .user-wrap{
      position: relative;
      display: inline-block;
    }

    .username{
      display: inline-block;
      background: none;
      margin: 10px;
      margin-right: 30px;
      color: $wet-asphalt;
    }

    .date-time{
      display: inline-block;
      color: $silver;
    }

  }

  .msg-info{

    text-align: center;

    .msg-wrap{
      background-color: rgba($silver,.2);
    }

    p{
      color: rgba($wet-asphalt,.5);
    }

  }



}