
.chat-box{

  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 350px;
  height: 300px;

  border-style: solid;
  border-width: 1px;
  border-color: #6c6c6c;
  padding: 0;
  background: #f2f2f2;
}
