.chat-box{

  .ref{
    @include border-radius(10px);
    top: 1px;
    left: 7px;
    right: 7px;
    position: absolute;
    background: rgba(255,255,255,.4);
    height: 14px;
  }

  ul{
    height: 300px;
    margin: 0;
    overflow: scroll;

    background-color: #ECF0F1;
    border-bottom: 1px solid #cdcdcd;
  }

  .msg-wrap{
    position: relative;
    display: inline-block;
    @include border-radius(14px);

    margin: 0;
    min-width: 100px;
  }

  p{
    padding: 6px 10px;
    margin: 0;
    position: relative;
  }



  .msg-me{



    margin: 10px;
    margin-bottom: 40px;
    text-align: right;


    .msg-wrap{
      background-color: #6CC5EE;
    }

    .triangle{
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 0px 0 15px;
      border-color: #6CC5EE transparent transparent transparent;
      float: right;
    }

    .user-name{
      float: right;
      background: none;
      margin: 8px;
      margin-top: 10px;
    }

  }

  .msg-you{
    margin: 10px;

    .msg-wrap{
      background-color: #afafaf;
    }

    .triangle{
      display: inline-block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 15px 0 0;
      border-color: #afafaf transparent transparent transparent;
    }

    .user-name{
      display: inline-block;
      background: none;
      margin: 5px;
    }
  }



}