<div class="row">
    <div class="large-6 columns panel">
        <section ng-include="'partial/connections.htm'"></section>
    </div>

    <div class="large-6 columns panel">
        <h1>this is a test</h1>
    </div>


</div>