<div class="container">
    <div class="row">
        <div class="span12">
            <!--<section ng-include="'partial/connections.htm'"></section>-->
            <section ng-include="'/partial/user.html'"></section>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <section ng-include="'/partial/annonces.html'"></section>
        </div>
    </div>
</div>