/* line 4, ../../sass/chat-header.scss */
.chat-box header {
  height: 40px;
  background: #2D3E4F;
}
/* line 8, ../../sass/chat-header.scss */
.chat-box header label {
  color: #ffffff;
  padding-left: 8px;
  padding-top: 9px;
  text-overflow: ellipsis;
  width: 310px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 18, ../../sass/chat-header.scss */
.chat-box header i {
  float: right;
  color: rgba(255, 255, 255, 0.2);
  font-size: 25px;
  padding-right: 7px;
  padding-top: 10px;
  line-height: 22px;
}
/* line 26, ../../sass/chat-header.scss */
.chat-box header i:hover {
  color: rgba(255, 255, 255, 0.5);
}
