/* line 1, ../../sass/chats-box.scss */
.chats-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 8, ../../sass/chats-box.scss */
.chats-box ul {
  padding: 0;
  margin: 0;
}
/* line 11, ../../sass/chats-box.scss */
.chats-box ul li {
  margin: 10px;
  list-style: none;
  display: inline-block;
}
