/* line 3, ../../sass/chat-section.scss */
.chat-box ul {
  height: 208px;
  margin: 0;
  overflow: scroll;
}
/* line 9, ../../sass/chat-section.scss */
.chat-box .msg-me {
  margin: 10px;
  color: red;
}
/* line 14, ../../sass/chat-section.scss */
.chat-box .msg-you {
  margin: 10px;
  color: green;
  text-align: right;
}
