/* line 4, ../../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../sass/base.scss */
body, html {
  height: 100%;
}

/* line 1, ../../sass/chats-box.scss */
.chats-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 8, ../../sass/chats-box.scss */
.chats-box ul {
  padding: 0;
}
/* line 10, ../../sass/chats-box.scss */
.chats-box ul li {
  list-style: none;
}

/* line 4, ../../sass/chat-header.scss */
.chat-box header {
  height: 40px;
  padding: 9px 15px;
  background-color: #969696;
}
/* line 9, ../../sass/chat-header.scss */
.chat-box header label {
  color: #ffffff;
}
/* line 13, ../../sass/chat-header.scss */
.chat-box header i {
  color: rgba(34, 34, 34, 0.66);
  font-size: 20px;
  padding-left: 5px;
  line-height: 22px;
}

/* line 3, ../../sass/chat-section.scss */
.chat-box section {
  height: 208px;
}

/* line 3, ../../sass/chat-footer.scss */
.chat-box footer {
  padding: 9px 5px;
  height: 50px;
  background-color: #969696;
}

/* line 2, ../../sass/chat-box.scss */
.chat-box {
  float: right;
  margin-right: 20px;
  width: 350px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #6c6c6c;
  padding: 0;
  background: #f2f2f2;
}

/* line 1, ../../sass/connection.scss */
.connection {
  list-style: none;
  background-color: #ffffff;
  padding: 0 10px;
}

/* line 2, ../../sass/connections.scss */
.connections select {
  width: 100px;
}
