/* line 4, ../../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../sass/base.scss */
body, html {
  height: 100%;
}

/* line 1, ../../sass/chats-box.scss */
.chats-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 8, ../../sass/chats-box.scss */
.chats-box ul {
  padding: 0;
  margin: 0;
}

/* line 4, ../../sass/chat-header.scss */
.chat-box header {
  height: 40px;
  padding: 9px 15px;
  background-color: #969696;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 10, ../../sass/chat-header.scss */
.chat-box header label {
  color: #ffffff;
}
/* line 14, ../../sass/chat-header.scss */
.chat-box header i {
  float: right;
  color: rgba(34, 34, 34, 0.66);
  font-size: 20px;
  padding-left: 5px;
  line-height: 22px;
}

/* line 3, ../../sass/chat-section.scss */
.chat-box ul {
  height: 240px;
  margin: 0;
  overflow: scroll;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
}
/* line 15, ../../sass/chat-section.scss */
.chat-box p {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 10px 7px;
  margin: 0;
  min-width: 73px;
}
/* line 25, ../../sass/chat-section.scss */
.chat-box .msg-me {
  margin: 10px;
  margin-bottom: 40px;
  text-align: right;
}
/* line 30, ../../sass/chat-section.scss */
.chat-box .msg-me .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0px 0 25px;
  border-color: #e0e0e0 transparent transparent transparent;
  float: right;
}
/* line 39, ../../sass/chat-section.scss */
.chat-box .msg-me .user-name {
  float: right;
  background: none;
  margin: 8px;
  margin-top: 10px;
}
/* line 48, ../../sass/chat-section.scss */
.chat-box .msg-you {
  margin: 10px;
}
/* line 51, ../../sass/chat-section.scss */
.chat-box .msg-you .triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 25px 0 0px;
  border-color: #e0e0e0 transparent transparent transparent;
}
/* line 60, ../../sass/chat-section.scss */
.chat-box .msg-you .user-name {
  display: inline-block;
  background: none;
  margin: 5px;
}

/* line 3, ../../sass/chat-footer.scss */
.chat-box footer {
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px;
}
/* line 10, ../../sass/chat-footer.scss */
.chat-box footer input {
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin: 0;
}
/* line 16, ../../sass/chat-footer.scss */
.chat-box footer input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 2, ../../sass/chat-box.scss */
.chat-box {
  margin: 10px;
  list-style: none;
  display: inline-block;
  width: 350px;
  padding: 0;
  background: #f2f2f2;
}

/* line 1, ../../sass/connection.scss */
.connection {
  list-style: none;
  background-color: #ffffff;
  padding: 0 10px;
}

/* line 2, ../../sass/connections.scss */
.connections select {
  width: 100px;
}
/* line 6, ../../sass/connections.scss */
.connections h3 {
  display: inline-block;
}
/* line 10, ../../sass/connections.scss */
.connections .selected {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 2, ../../sass/annonces.scss */
.annonces ul {
  margin: 0;
}
/* line 6, ../../sass/annonces.scss */
.annonces li {
  list-style: none;
}

/* line 3, ../../sass/user.scss */
.user h3 {
  display: inline-block;
}
/* line 7, ../../sass/user.scss */
.user .selected {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
