/* line 4, ../../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../sass/base.scss */
body, html {
  height: 100%;
  background-color: #086F1E;
}

/* line 1, ../../sass/chats-box.scss */
.chats-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 8, ../../sass/chats-box.scss */
.chats-box ul {
  padding: 0;
  margin: 0;
}

/* line 4, ../../sass/chat-header.scss */
.chat-box header {
  height: 40px;
  background: #2D3E4F;
  position: relative;
}
/* line 9, ../../sass/chat-header.scss */
.chat-box header label {
  display: inline-block;
  color: #ffffff;
  padding-left: 8px;
  padding-top: 9px;
  text-overflow: ellipsis;
  width: 274px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: lighter;
}
/* line 21, ../../sass/chat-header.scss */
.chat-box header i {
  float: right;
  color: rgba(255, 255, 255, 0.2);
  font-size: 25px;
  padding-right: 7px;
  padding-top: 9px;
  line-height: 22px;
}
/* line 29, ../../sass/chat-header.scss */
.chat-box header i:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 34, ../../sass/chat-header.scss */
.chat-box header .triangle {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
}
/* line 47, ../../sass/chat-header.scss */
.chat-box header .chatable {
  border-color: #f39c12 transparent transparent transparent;
}
/* line 51, ../../sass/chat-header.scss */
.chat-box header .new-msg-cnt {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  font-weight: lighter;
  background-color: #f39c12;
}

/* line 3, ../../sass/chat-section.scss */
.chat-box .repeat-enter-setup {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
/* line 11, ../../sass/chat-section.scss */
.chat-box .repeat-enter-setup {
  opacity: 0;
}
/* line 14, ../../sass/chat-section.scss */
.chat-box .repeat-enter-setup.repeat-enter-start {
  opacity: 1;
}
/* line 18, ../../sass/chat-section.scss */
.chat-box .date-time {
  font-weight: lighter;
}
/* line 22, ../../sass/chat-section.scss */
.chat-box .chat-message {
  clear: both;
  padding: 5px;
}
/* line 27, ../../sass/chat-section.scss */
.chat-box .ref {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  top: 1px;
  left: 2px;
  right: 2px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  height: 14px;
}
/* line 37, ../../sass/chat-section.scss */
.chat-box ul {
  height: 300px;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #ecf0f1;
  border-bottom: 1px solid #cdcdcd;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
/* line 53, ../../sass/chat-section.scss */
.chat-box .msg-wrap {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 0;
  min-width: 100px;
  max-width: 340px;
}
/* line 63, ../../sass/chat-section.scss */
.chat-box p {
  padding: 6px 10px;
  margin: 0;
  position: relative;
  color: #ffffff;
  font-family: Lato, helvetica;
  font-size: 15px;
  word-wrap: break-word;
  font-weight: lighter;
}
/* line 76, ../../sass/chat-section.scss */
.chat-box .msg-me {
  float: right;
  clear: both;
}
/* line 83, ../../sass/chat-section.scss */
.chat-box .msg-me .msg-wrap {
  background-color: #1abc9c;
}
/* line 87, ../../sass/chat-section.scss */
.chat-box .msg-me .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0px 0 15px;
  border-color: #1abc9c transparent transparent transparent;
  float: right;
}
/* line 96, ../../sass/chat-section.scss */
.chat-box .msg-me .username {
  float: right;
  background: none;
  margin: 10px;
  margin-left: 15px;
  color: #34495e;
}
/* line 108, ../../sass/chat-section.scss */
.chat-box .msg-you .msg-wrap {
  background-color: #f39c12;
}
/* line 112, ../../sass/chat-section.scss */
.chat-box .msg-you .triangle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #f39c12 transparent transparent transparent;
}
/* line 124, ../../sass/chat-section.scss */
.chat-box .msg-you .user-wrap {
  position: relative;
  display: inline-block;
}
/* line 129, ../../sass/chat-section.scss */
.chat-box .msg-you .username {
  display: inline-block;
  background: none;
  margin: 10px;
  margin-right: 30px;
  color: #34495e;
}
/* line 137, ../../sass/chat-section.scss */
.chat-box .msg-you .date-time {
  display: inline-block;
  color: #bdc3c7;
}
/* line 144, ../../sass/chat-section.scss */
.chat-box .msg-info {
  text-align: center;
}
/* line 148, ../../sass/chat-section.scss */
.chat-box .msg-info .msg-wrap {
  background-color: rgba(189, 195, 199, 0.2);
}
/* line 152, ../../sass/chat-section.scss */
.chat-box .msg-info p {
  color: rgba(52, 73, 94, 0.5);
}

/* line 6, ../../sass/chat-footer.scss */
.chat-box footer input {
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin: 0;
}
/* line 12, ../../sass/chat-footer.scss */
.chat-box footer input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 2, ../../sass/chat-box.scss */
.chat-box {
  margin: 10px;
  list-style: none;
  display: inline-block;
  width: 350px;
  padding: 0;
}

/* line 1, ../../sass/connection.scss */
.connection {
  list-style: none;
  background-color: #ffffff;
  padding: 0 10px;
}

/* line 2, ../../sass/connections.scss */
.connections select {
  width: 100px;
}
/* line 6, ../../sass/connections.scss */
.connections h3 {
  display: inline-block;
}
/* line 10, ../../sass/connections.scss */
.connections .selected {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 2, ../../sass/annonces.scss */
.annonces ul {
  margin: 0;
}
/* line 6, ../../sass/annonces.scss */
.annonces li {
  list-style: none;
}

/* line 3, ../../sass/user.scss */
.user h3 {
  display: inline-block;
}
/* line 7, ../../sass/user.scss */
.user .selected {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
