<div class="connections form-inline" ng-controller="ConnectionsCtrl">
    <h3>{{ name }}</h3>
    <select ng-model="connection" ng-options="connection.name for connection in connections"></select>
    <button class="btn btn-primary" type="button" ng-click="onMakeChatBox()">Create Chat Box</button>
    <button class="btn btn-primary" type="button" ng-click="onGetMessages()" class="small button">Get Messages</button>
    <button class="btn"
            type="button" ng-model="chatEnable" btn-checkbox ng-class="{selected: chatEnable}" ng-click="onChatEnable()">
        Chat Enable</button>
</div>


